<!DOCTYPE html>
<html>
  <head>
    <title>ML_Carers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        objcet-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img
        class="img-fluid"
        id = "banner"
        src="https://mlweb--lionelmuhire199.repl.co/static/banner.jpg" 
        height="320">
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{company_name}}</h1>
      <div class="row" style="margin-bottom: 16px">
        <div class="col-md-6">
      <p class="lead">
        ML Careers Platform is an advanced recruitment solution designed for the world of Machine Learning. With cutting-edge technology and a user-friendly interface, it streamlines the hiring process. Connecting talented professionals with exciting opportunities, the platform fosters growth and innovation. Employers can discover top ML talent efficiently, while job seekers explore roles tailored to their expertise. Experience seamless recruitment with ML Careers Platform, where the future of Machine Learning and talent converge
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img src="/static/worki.jpg" style="height: 320px; border-radius: 50px">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Job Openings</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobitem.html'%}
        {% endfor %}
      </p>
      <div class="text-center">  
      <a href="mailto:muhirelionel@gmail.com?subject=Question%20about%20ML%20careers&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Question%20is%3A%20%3CType%20yours%20Question%20Here%3E"class="btn btn-primary btn-lg">contact Us</a>
      </div>
    </div>
    {% include 'footer.html'%}
  </body>
</html>